@import "vsim-fonts.css";

#version, #copyright {
  -fx-font-family: 'Roboto';
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
}

#version {
  -fx-font-size: 16;
}

#copyright {
  -fx-font-size: 13;
}
