/* reset fonts */
body {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p.caption {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

/* logo */
.logo > img {
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #fff;
}

/* sidenav header background color */
.wy-side-nav-search {
  background-color: #fff;
}

@media screen and (min-width: 1400px) {
  .wy-nav-content-wrap {
    background-color: rgba(0, 0, 0, 0.0470588);
  }

  .wy-nav-content {
    background-color: #fff;
  }
}

/* fixes for mobile */
.wy-nav-top {
  background-color: #fff;
  background-image: url('../img/vsim-logo-small.png');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0.4045em 0.809em;
  color: #333;
}

.wy-nav-top > a {
  display: none;
}

.toctree-l1 {
  font-weight: bold;
}

.wy-side-nav-search a {
  display: block;
}

.rst-content dl:not(.docutils) dt {
  display: table;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  color: #c9810f;
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref,
.rst-content code.xref, a .rst-content tt, a .rst-content code {
  color: #404040;
}

code {
  color: #935400;
}

a {
  color: #c9810f;
}

a:hover {
  color: #c9810f;
}

.toctree-l1 > a:active:not(.current) {
  background: #f9a825;
  color: #222;
}

a:visited {
  color: #935400;
}

.wy-menu a {
  color: #b3b3b3;
}

.wy-menu a:hover {
  color: #b3b3b3;
}

/* reset footer */
footer {
  font-size: 80%;
}

footer .rst-footer-buttons {
  font-size: 125%;
}

footer p {
  font-size: 100%;
}

.rst-content .hidden-section {
  display: none;
}

nav .hidden-section {
  display: inherit;
}

.wy-side-nav-search>div.version {
  color: #000;
}
