/*
  Eclipse Theme Syntax Colors
*/

* {
  -fx-syntax: #000;
  -fx-operator: #000;
  -fx-directive: #7F0055;
  -fx-keyword: #7F0055;
  -fx-label: #7F0055;
  -fx-identifier: #7F0055;
  -fx-register: #6a3e3e;
  -fx-number: #000099;
  -fx-comment: #407E60;
  -fx-string: #162CF6;
  -fx-stringb: #8abeb7;
  -fx-error: #EF4D13;
  -fx-code-area-bg: #ffffff;
  -fx-selection: #B6D6FD;
  -fx-lineno-text: #969896;
  -fx-lineno-bg: #ffffff;
  -fx-caret: #000;
  -fx-caret-bg: #e8f2fe;
}
