/*
  Monokai Theme Syntax Colors
*/

* {
  -fx-syntax: #abb3ba;
  -fx-operator: #F92672;
  -fx-directive: #66D9EF;
  -fx-keyword: #F92672;
  -fx-identifier: #B0EC38;
  -fx-register: #FD971F;
  -fx-number: #AE81FF;
  -fx-comment: rgba(171, 179, 186, 0.5);
  -fx-string: #E6DB74;
  -fx-error: #e62a19;
  -fx-code-area-bg: #222222;
  -fx-selection: rgba(230, 42, 25, 0.3);
  -fx-lineno-text: rgba(171, 179, 186, 0.5);
  -fx-lineno-bg: #262626;
  -fx-caret: rgba(200, 200, 200, 0.8);
  -fx-caret-bg: rgba(0, 0, 0, 0.1);
}
