/*
  Atom's One Light Syntax Colors
*/


* {
  -fx-syntax: #383a42;
  -fx-operator: #a626a4;
  -fx-directive: #66D9EF;
  -fx-keyword: #a626a4;
  -fx-identifier: #0184bc;
  -fx-register: #e45649;
  -fx-number: #986801;
  -fx-comment: #a0a1a7;
  -fx-string: #50a14f;
  -fx-error: #ff1414;
  -fx-code-area-bg: #fafafa;
  -fx-selection: #e5e5e6;
  -fx-lineno-text: #9d9d9f;
  -fx-lineno-bg: #e5e5e6;
  -fx-caret: #526fff;
  -fx-caret-bg: rgba(56, 58, 66, 0.05);
}
