.label {
  -fx-font-family: 'Montserrat Regular';
}

.label.about {
  -fx-font-family: 'Montserrat SemiBold';
  -fx-font-size: 14;
  -fx-text-fill: #ffffff;
}

.label.cache {
  -fx-font-family: 'Montserrat SemiBold';
  -fx-text-fill: #ffffff;
}

.label.status-bar-labels {
  -fx-font-size: 14;
  -fx-text-fill: #eee;
}

.label.findreplace {
  -fx-font-family: monospace;
  -fx-font-size: 12;
  -fx-text-fill: #ddd;
  -fx-font-weight: bold
}

.label.root {
  -fx-font-family: 'Montserrat SemiBold';
  -fx-font-size: 14;
  -fx-background-color: #242424;
  -fx-padding: 12 0 12 12;
  -fx-text-fill: #ffffff;
}
