.jfx-text-field.findreplace {
  -fx-text-fill: #eee;
  -jfx-focus-color: -fx-secondary-light;
}

.jfx-text-field.cache {
  -fx-cursor: DEFAULT;
  -fx-text-fill: #fff;
  -jfx-focus-color: -fx-secondary-light;
  -jfx-unfocus-color: -fx-secondary-light;
}

.jfx-text-field.cache > .input-focused-line {
  -fx-pref-height: 0px;
}

.jfx-text-field.cache:focused > .input-focused-line {
  -fx-pref-height: 0px;
}
