.root {
  -fx-syntax: #B2CCD6;
  -fx-directive: #82AAFF;
  -fx-keyword: #C792EA;
  -fx-label: #F78C6A;
  -fx-identifier: #FFCB6B;
  -fx-register: #DDDDDD;
  -fx-number: #F07178;
  -fx-comment: #545454;
  -fx-string: #C3E88D;
  -fx-stringb: #89DDF3;
  -fx-error: #EF4D13;
  -fx-code-area-bg: #212121;
  -fx-selection: #3b3b3b;
  -fx-lineno-text: #aaa;
  -fx-lineno-bg: #212121;
  -fx-caret: #009688;
  -fx-caret-bg: #1b1b1b;
}

.code-area {
  -fx-background-color: -fx-code-area-bg;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-font-family: 'Menlo';
  -fx-font-size: 14pt;
}

.code-area .selection {
  -fx-fill: -fx-selection !important;
}

.code-area .lineno {
  -fx-font-family: 'Monospaced';
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-text-fill: -fx-lineno-text;
  -fx-background-color: -fx-lineno-bg;
}

.code-area .caret {
  -fx-stroke: -fx-caret;
}

.code-area .paragraph-box:has-caret {
  -fx-background-color: -fx-caret-bg;
}

.code-area .syntax {
  -fx-fill: -fx-syntax;
}

.code-area .directive {
  -fx-fill: -fx-directive;
}

.code-area .keyword {
  -fx-fill: -fx-keyword;
}

.code-area .lbl {
  -fx-fill: -fx-label;
}

.code-area .register {
  -fx-fill: -fx-register;
}

.code-area .identifier {
  -fx-fill: -fx-identifier;
}

.code-area .number {
  -fx-fill: -fx-number;
}

.code-area .comment {
  -fx-fill: -fx-comment;
}

.code-area .string {
  -fx-fill: -fx-string;
}

.code-area .stringb {
  -fx-fill: -fx-stringb;
}

.code-area .error {
  -fx-fill: -fx-error;
  -rtfx-underline-color: -fx-error;
  -rtfx-underline-width: 1px;
  -rtfx-underline-dash-array: 4px;
  -fx-font-style: italic;
}
