.table-view {
  -fx-table-color: rgba(120, 220, 232, 0.4);
  -fx-table-rippler-color: rgba(120, 220, 232, 0.6);
}

.table-view:focused {
  -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}

.table-view:focused .table-row-cell:selected {
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 0 1 0;
}

.tablew-view .table-row-cell .table-cell {
  -fx-text-fill: -fx-primary;
}

.table-view .table-row-cell {
  -fx-border-width: 0 0 1 0;
  -fx-background-color: #ffffff;
  -fx-border-color: #ffffff;
  -fx-background-color: #ffffff;
}

.table-view .table-row-cell:selected .table-cell,
.table-view:focused .table-row-cell:selected .table-cell {
  -fx-text-fill: #333333;
}

.table-view .table-row-cell:filled,
.table-view .table-row-cell:filled,
.table-view:focused .table-row-cell:filled,
.table-view:focused .table-row-cell:filled,
.table-view:focused .table-row-cell:filled:selected,
.table-view .table-row-cell:filled:selected {
  -fx-border-width: 0 0 1 0;
  -fx-background-color: #ffffff;
  -fx-border-color: rgba(204, 204, 204, 0.3333333333333333);
  -fx-background-color: #ffffff;
}

.table-view {
  -fx-control-inner-background-alt: #ffffff;
}

.table-view:focused .table-row-cell:selected .table-cell {
  -fx-text-fill: #333333;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
  -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #F3F3F3;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
  -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
  -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
  -fx-border-width: 0 0.0 1 0;
  -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
  -fx-border-width: 0 0 0 0;
  -fx-padding: 5 0 5 0;
  -fx-alignment: top-center;
  -fx-font-weight: bold;
  -fx-font-family: 'Roboto';
}

.table-view .table-cell {
  -fx-font-family: 'Anonymous Pro';
  -fx-font-size: 15px;
}

.table-view .table-cell:symFile > .text {
  -fx-fill: #01579b;
}

.table-view .table-cell.editable-cell {
  -fx-font-size: 14px;
}

.table-view.text-table .table-cell {
  -fx-font-size: 18px;
}

.table-view.text-table .table-row-cell .table-cell:non-editable {
  -fx-cursor: OPEN_HAND;
}

.table-view .column-overlay {
  -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
  -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
  -fx-background-color: -fx-text-fill;
  -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
  -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .text-field {
  -fx-focus-color: transparent;
  -fx-text-box-border: transparent;
  -fx-padding: 0;
  -fx-alignment: center;
}

.table-row-cell .text-field:focused {
  -fx-focus-color: transparent;
}

.table-view.text-table .table-row-cell:pc .table-cell {
  -fx-background-color: #d8d8d8;
}

.table-view .table-row-cell:changed,
.table-view .table-row-cell:selected:changed {
  -fx-background-color: #d8d8d8;
}

.table-row-cell:grouped {
  -fx-background-color: rgb(230, 230, 230);
}

.table-view .menu-item:focused {
  -fx-background-color: -fx-table-color;
}

.table-view.text-table .scroll-bar:horizontal {
  -fx-opacity: 0;
  -fx-padding:-7;
}

.table-view.text-table *.scroll-bar:horizontal *.increment-button,
.table-view.text-table *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view.text-table *.scroll-bar:horizontal *.increment-arrow,
.table-view.text-table *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

.table-view .column-header .label {
  -fx-text-fill: #949494;
  -fx-padding: 16 0 16 0;
}

.table-view .menu-item .label {
  -fx-padding: 5 0 5 0;
}
