/*
  Colors
*/

* {
  -fx-primary: #212121;
  -fx-primary-dark: #000;
  -fx-primary-light: #484848;
  -fx-secondary: #fe315c;
}

/*
  JFXDecorator styles
*/
.jfx-decorator {
  -fx-decorator-color: -fx-primary-dark;
}

.jfx-decorator-text {
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

/*
  MenuBar Styles
*/

.menu-bar {
  -fx-background-color: #ffffff;
}

.menu:showing {
  -fx-background-color: -fx-secondary;
}

.menu:focused {
  -fx-background-color: -fx-primary-light;
}

.menu .label {
  -fx-text-fill: -fx-primary;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
}

.menu:showing .label {
  -fx-text-fill: -fx-primary;
}

.menu-item:focused {
   -fx-background-color: #ccc;
}

/*
  SplitPane Styles
*/
.split-pane {
  -fx-padding: 0;
}

.split-pane {
  -fx-box-border: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: -fx-primary;
   -fx-padding: 0 2px 0 2px;
   -fx-border-color: -fx-primary;
}

.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: -fx-primary;
  -fx-padding: 0 2px 0 2px;
  -fx-border-color: -fx-primary;
}

/*
  ScrollPane Styles
*/

.scroll-pane > .viewport {
  -fx-background-color: -fx-primary-dark;
}

.scroll-pane {
  -fx-background-color: -fx-primary-dark;
}

.corner {
  -fx-background-color: -fx-primary !important;
}

.scroll-bar:vertical {
  -fx-pref-width: 7px;
}

.scroll-bar:horizontal {
  -fx-pref-height: 7px;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-primary-light;
  -fx-background-radius: 5em;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-insets: 0, 0, 0, 0;
  -fx-padding: 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-padding: 0;
}

/*
  Tree Styles
*/

.tree-cell {
  -fx-background-color: -fx-primary;
  -fx-font-family: 'Roboto';
  -fx-font-size: 14px;
  -fx-text-fill: rgba(200, 200, 200, 0.9);
}

.tree-cell:selected {
  -fx-background-color: -fx-primary-light;
}

.tree-cell > .tree-disclosure-node > .arrow  {
  -fx-background-color: -fx-primary-light;
}

.tree-cell:selected > .tree-disclosure-node > .arrow  {
  -fx-background-color: -fx-secondary;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
  -fx-background-color: #66D9EF;
}

/*
  JFXTabPane Styles
*/

.jfx-tab-pane {
  -fx-background-color: -fx-primary-light;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
  -jfx-rippler-fill: -fx-secondary;
}

.jfx-tab-pane .headers-region {
  -fx-background-color: -fx-primary-light;
  -fx-border-color: -fx-primary-light;
  -fx-box-border: -fx-primary-dark;
}

.jfx-tab-pane .tab-header-background {
  -fx-background-color: -fx-primary-light;
}

.jfx-tab-pane .tab-selected-line {
  -fx-background-color: -fx-secondary;
}


/*
  Buttons Styles
*/

#runBtns {
  -fx-background-color: -fx-primary;
  -fx-padding: 5, 0, 5, 0;
  -fx-spacing: 10;
  -fx-text-fill: #ffffff;
}

#memBtns {
  -fx-background-color: -fx-primary-light;
  -fx-padding: 2, 0, 2, 0;
  -fx-spacing: 5;
}

#goBtn, #stepBtn, #backstepBtn, #resetBtn, #dumpBtn, #downBtn, #upBtn {
  -fx-cursor: hand;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff;
}

#goBtn {
  -fx-background-color: #388e3c;
}

#stepBtn {
  -fx-background-color: #ff6f00;
}

#backstepBtn {
  -fx-background-color: #0277bd;
}

#resetBtn {
  -fx-background-color: #d32f2f;
}

#dumpBtn {
  -fx-background-color: #7b1fa2;
}

#upBtn {
  -fx-background-color: #1e88e5;
}

#downBtn {
  -fx-background-color: #1e88e5;
}

#memCombo {
  -fx-prompt-text-fill: #ffffff;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-alignment: CENTER;
}

#memCombo .list-cell:filled:selected .text {
    -fx-fill: #ffffff;
}

#memCombo .arrow {
  -fx-background-color: #ffffff;
}

/*
  CodeArea Styles
*/

.code-area {
  -fx-background-color: -fx-code-area-bg;
  -fx-font-weight: bold;
  -fx-font-family: 'Envy Code R';
  -fx-font-size: 16px;
  -fx-font-smoothing-type: gray;
}

.code-area .selection {
  -fx-fill: -fx-selection !important;
}

.code-area .lineno {
  -fx-text-fill: -fx-lineno-text;
  -fx-background-color: -fx-lineno-bg;
}

.code-area .caret {
  -fx-stroke: -fx-caret;
}

.code-area .paragraph-box:has-caret {
  -fx-background-color: -fx-caret-bg;
}

.code-area .syntax {
  -fx-fill: -fx-syntax;
}

.code-area .operator {
  -fx-fill: -fx-operator;
}

.code-area .directive {
  -fx-fill: -fx-directive;
}

.code-area .keyword {
  -fx-fill: -fx-keyword;
}

.code-area .label {
  -fx-fill: -fx-identifier;
  -fx-font-style: italic;
}

.code-area .register {
  -fx-fill: -fx-register;
}

.code-area .identifier {
  -fx-fill: -fx-identifier;
}

.code-area .number {
  -fx-fill: -fx-number;
}

.code-area .comment {
  -fx-fill: -fx-comment;
}

.code-area .string {
  -fx-fill: -fx-string;
}

.code-area .error {
  -fx-fill: -fx-error;
  -rtfx-underline-color: -fx-error;
  -rtfx-underline-width: 1px;
  -rtfx-underline-dash-array: 4px;
  -fx-font-style: italic;
}

/*
  TextArea Styles
*/

.text-area {
  -fx-background-insets: 0;
  -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
  -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
  -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
  -fx-highlight-fill: #7ecfff;
}

.text-area .content {
  -fx-padding: 10px;
  -fx-text-fill: gray;
  -fx-highlight-fill: #7ecfff;
}

/*
  Tab Styles
*/

.tab {
  -fx-cursor: hand;
}

/*
  Table View Styles
*/

.table-view {
  -fx-table-color: rgba(120, 220, 232, 0.4);
  -fx-table-rippler-color: rgba(120, 220, 232, 0.6);
}

.table-view:focused {
  -fx-background-color: -fx-table-color, -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}

.table-view:focused .table-row-cell:selected {
  -fx-background-color: -fx-table-color;
  -fx-table-cell-border-color: -fx-table-color;
  -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
  -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
  -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
  -fx-text-fill: #949494;
  -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
  -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
  -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
  -fx-border-width: 0 0.0 1 0;
  -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
  -fx-border-width: 0 0 0 0;
  -fx-padding: 5 0 5 0;
  -fx-alignment: top-center;
  -fx-font-weight: bold;
  -fx-font-family: 'Roboto';
}

.table-view .column-overlay {
  -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
  -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
  -fx-background-color: -fx-text-fill;
  -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
  -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .text-field {
  -fx-focus-color: transparent;
  -fx-text-box-border: transparent;
  -fx-padding: 0;
  -fx-alignment: center;
}

.table-row-cell .text-field:focused {
  -fx-focus-color: transparent;
}

.table-row-cell:grouped {
  -fx-background-color: rgb(230, 230, 230);
}

.table-view .menu-item:focused {
  -fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
  -fx-padding: 5 0 5 0;
}
