/*
  Fonts
*/

@font-face {
  src: url("/font/roboto/Roboto-Bold.ttf");
}

@font-face {
  src: url("/font/roboto/Roboto-Regular.ttf");
}

@font-face {
  src: url("/resources/fonts/anonymouspro.ttf");
}

@font-face {
  src: url("/resources/fonts/envycoder.ttf");
}

/*
  Colors
*/

.root {
  -fx-primary: #212121;
  -fx-primary-dark: #000;
  -fx-primary-light: #484848;
  -fx-secondary: #fe315c;
}

/*
  JFXDecorator Styles
*/
.jfx-decorator {
  -fx-decorator-color: -fx-primary-dark;
  -fx-background-color: -fx-primary-dark;
}

.jfx-decorator-text {
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

/*
  JFXSlider Styles
*/

.jfx-slider {
  -jfx-default-thumb: -fx-secondary;
}

/*
  JFXComboBox Styles
*/
.jfx-combo-box {
  -jfx-focus-color: -fx-secondary;
  -jfx-unfocus-color: -fx-secondary;
  -fx-prompt-text-fill: #fff;
  -fx-cursor: HAND;
}

.jfx-combo-box .list-cell {
  -fx-background-color: -fx-primary;
  -fx-text-fill: #fff;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
}

.jfx-combo-box .list-cell {
  -fx-background: -fx-primary-light;
  -fx-background-color: transparent;
}

.combo-box-popup .list-view {
  -fx-background-color: -fx-primary-light;
  -fx-background-insets: 0, 0;
  -fx-effect: none;
  -fx-cursor: HAND;
}

.combo-box-popup .list-view .list-cell {
  -fx-background-color: -fx-primary-light;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: -fx-secondary;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: -fx-secondary;
}


.jfx-combo-box > .arrow-button .arrow,
.jfx-combo-box:editable > .arrow-button .arrow,
.jfx-combo-box:editable:focused > .arrow-button .arrow {
  -fx-background-color: -fx-secondary;
}

/*
  ContextMenu Styles
*/

.context-menu {
  -fx-cursor: DEFAULT;
}

/*
  MenuBar Styles
*/

.menu-bar {
  -fx-background-color: #ffffff;
}

.menu:showing {
  -fx-background-color: -fx-secondary;
}

.menu:focused {
  -fx-background-color: -fx-primary-light;
}

.menu {
  -fx-cursor: HAND;
}

.menu .label {
  -fx-text-fill: -fx-primary;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
}

.menu:hover {
  -fx-background-color: -fx-secondary;
}

.menu:hover > .label {
  -fx-text-fill: #fff;
}

.menu:showing .label {
  -fx-text-fill: -fx-primary;
}

.menu:showing > .label {
  -fx-text-fill: #fff;
}

.menu-item:focused {
   -fx-background-color: #ccc;
}

/*
  ProgressBar Styles
*/
.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
  -fx-background-radius: 0;
  -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
  -fx-background-color: -fx-secondary;
}

/*
  SplitPane Styles
*/
.split-pane {
  -fx-padding: 0;
}

.split-pane {
  -fx-box-border: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #1e1e1e;
   -fx-padding: 0 1px 0 1px;
   -fx-border-color: #1e1e1e;
}

.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: #1e1e1e;
  -fx-padding: 0 1px 0 1px;
  -fx-border-color: #1e1e1e;
}

/*
  ScrollPane Styles
*/

.scroll-pane > .viewport {
  -fx-background-color: -fx-primary-dark;
}

.scroll-pane {
  -fx-background-color: -fx-primary-dark;
}

.corner {
  -fx-background-color: -fx-primary !important;
}

.scroll-bar:vertical {
  -fx-pref-width: 7px;
}

.scroll-bar:horizontal {
  -fx-pref-height: 7px;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-primary-light;
  -fx-background-radius: 5em;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-insets: 0, 0, 0, 0;
  -fx-padding: 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-padding: 0;
}

/*
  Tree Styles
*/

.tree-view:focused {
  -fx-background-color: -fx-primary;
}

.tree-cell {
  -fx-background-color: -fx-primary;
  -fx-font-family: 'Roboto';
  -fx-font-size: 14px;
  -fx-text-fill: rgba(200, 200, 200, 0.9);
}

.tree-cell:selected {
  -fx-background-color: -fx-primary-light;
}

.tree-cell > .tree-disclosure-node > .arrow  {
  -fx-background-color: #606060;
}

.tree-cell:selected > .tree-disclosure-node > .arrow  {
  -fx-background-color: -fx-secondary;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
  -fx-background-color: #66D9EF;
}

/*
  JFXTabPane Styles
*/

.jfx-tab-pane {
  -fx-background-color: -fx-primary;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
  -jfx-rippler-fill: -fx-secondary;
}

.jfx-tab-pane .headers-region {
  -fx-background-color: -fx-primary-light;
  -fx-border-color: -fx-primary-light;
  -fx-box-border: -fx-primary-dark;
}

.jfx-tab-pane .tab-header-background {
  -fx-background-color: -fx-primary-light;
}

.jfx-tab-pane .tab-selected-line {
  -fx-background-color: -fx-secondary;
}


/*
  Buttons Styles
*/

#runBtns {
  -fx-background-color: -fx-primary;
  -fx-padding: 5, 0, 5, 0;
  -fx-spacing: 10;
  -fx-text-fill: #ffffff;
}

#memBtns {
  -fx-background-color: -fx-primary-light;
  -fx-padding: 2, 0, 2, 0;
  -fx-spacing: 5;
}

#goBtn, #stopBtn, #stepBtn, #backstepBtn, #resetBtn, #dumpBtn, #downBtn, #upBtn {
  -fx-cursor: hand;
  -fx-font-family: 'Roboto';
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff;
}

#goBtn {
  -fx-background-color: #388e3c;
}

#stopBtn {
  -fx-background-color: #d32f2f;
}

#stepBtn {
  -fx-background-color: #ff6f00;
}

#backstepBtn {
  -fx-background-color: #0277bd;
}

#resetBtn {
  -fx-background-color: #ffa000;
}

#dumpBtn {
  -fx-background-color: #7b1fa2;
}

#upBtn {
  -fx-background-color: #00897b;
}

#downBtn {
  -fx-background-color: #f9a825;
}

/*
  CodeArea Styles
*/

.root {
  -fx-syntax: #B2CCD6;
  -fx-operator: #89DDF3;
  -fx-directive: #82AAFF;
  -fx-keyword: #C792EA;
  -fx-label: #F78C6A;
  -fx-identifier: #FFCB6B;
  -fx-register: #DDDDDD;
  -fx-number: #F07178;
  -fx-comment: #545454;
  -fx-string: #C3E88D;
  -fx-stringb: #89DDF3;
  -fx-error: #EF4D13;
  -fx-code-area-bg: #212121;
  -fx-selection: #3b3b3b;
  -fx-lineno-text: #B2CCD6;
  -fx-lineno-bg: #212121;
  -fx-caret: #009688;
  -fx-caret-bg: #1b1b1b;
}

.code-area {
  -fx-background-color: -fx-code-area-bg;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-font-family: 'Envy Code R';
  -fx-font-size: 14pt;

}

.code-area .selection {
  -fx-fill: -fx-selection !important;
}

.code-area .lineno {
  -fx-font-family: 'Monospaced';
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-text-fill: -fx-lineno-text;
  -fx-background-color: -fx-lineno-bg;
}

.code-area .caret {
  -fx-stroke: -fx-caret;
}

.code-area .paragraph-box:has-caret {
  -fx-background-color: -fx-caret-bg;
}

.code-area .syntax {
  -fx-fill: -fx-syntax;
}

.code-area .operator {
  -fx-fill: -fx-operator;
}

.code-area .directive {
  -fx-fill: -fx-directive;
}

.code-area .keyword {
  -fx-fill: -fx-keyword;
}

.code-area .label {
  -fx-fill: -fx-label;
}

.code-area .register {
  -fx-fill: -fx-register;
}

.code-area .identifier {
  -fx-fill: -fx-identifier;
}

.code-area .number {
  -fx-fill: -fx-number;
}

.code-area .comment {
  -fx-fill: -fx-comment;
}

.code-area .string {
  -fx-fill: -fx-string;
}

.code-area .stringb {
  -fx-fill: -fx-stringb;
}

.code-area .error {
  -fx-fill: -fx-error;
  -rtfx-underline-color: -fx-error;
  -rtfx-underline-width: 1px;
  -rtfx-underline-dash-array: 4px;
  -fx-font-style: italic;
}

/*
  TextArea Styles
*/

.text-area {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0;
  -fx-background-color: transparent, white, transparent, white;
  -fx-text-box-border: white;
}

.text-area .content {
  -fx-background-radius: 0;
  -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
  -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
  -fx-highlight-fill: #7ecfff;
}

.text-area .content {
  -fx-padding: 10px;
  -fx-text-fill: gray;
  -fx-highlight-fill: #7ecfff;
}

/*
  Tab Styles
*/

.tab {
  -fx-cursor: hand;
}

/*
  Table View Styles
*/

.table-view {
  -fx-table-color: rgba(120, 220, 232, 0.4);
  -fx-table-rippler-color: rgba(120, 220, 232, 0.6);
}

.table-view:focused {
  -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}

.table-view:focused .table-row-cell:selected {
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 0 1 0;
}

.tablew-view .table-row-cell .table-cell {
  -fx-text-fill: -fx-primary;
}

.table-view .table-row-cell {
  -fx-border-width: 0 0 1 0;
  -fx-background-color: #ffffff;
  -fx-border-color: #ffffff;
  -fx-background-color: #ffffff;
}

.table-view .table-row-cell:filled,
.table-view .table-row-cell:filled,
.table-view:focused .table-row-cell:filled,
.table-view:focused .table-row-cell:filled,
.table-view:focused .table-row-cell:filled:selected,
.table-view .table-row-cell:filled:selected {
  -fx-border-width: 0 0 1 0;
  -fx-background-color: #ffffff;
  -fx-border-color: rgba(204, 204, 204, 0.3333333333333333);
  -fx-background-color: #ffffff;
}

.table-view {
  -fx-control-inner-background-alt: #ffffff;
}

.table-view:focused .table-row-cell:selected .table-cell {
  -fx-text-fill: -fx-primary-dark;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
  -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
  -fx-text-fill: #949494;
  -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
  -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
  -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
  -fx-border-width: 0 0.0 1 0;
  -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
  -fx-border-width: 0 0 0 0;
  -fx-padding: 5 0 5 0;
  -fx-alignment: top-center;
  -fx-font-weight: bold;
  -fx-font-family: 'Roboto';
}

.table-view .table-cell {
  -fx-font-family: 'Anonymous Pro';
  -fx-font-size: 15px;
}

.table-view .table-cell:symFile {
  -fx-text-fill: #01579b;
}

.table-view .table-cell.editable-cell {
  -fx-font-size: 14px;
}

.table-view.text-table .table-cell {
  -fx-font-size: 18px;
}

.table-view.text-table .table-row-cell .table-cell:non-editable {
  -fx-cursor: OPEN_HAND;
}

.table-view .column-overlay {
  -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
  -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
  -fx-background-color: -fx-text-fill;
  -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
  -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .text-field {
  -fx-focus-color: transparent;
  -fx-text-box-border: transparent;
  -fx-padding: 0;
  -fx-alignment: center;
}

.table-row-cell .text-field:focused {
  -fx-focus-color: transparent;
}

.table-view.text-table .table-row-cell:pc .table-cell {
  -fx-background-color: #64ffda;
}

.table-view .table-row-cell:changed,
.table-view .table-row-cell:selected:changed {
  -fx-border-width: 1 0 1 0 !important;
  -fx-border-color: #303f9f !important;
}

.table-row-cell:grouped {
  -fx-background-color: rgb(230, 230, 230);
}

.table-view .menu-item:focused {
  -fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
  -fx-padding: 5 0 5 0;
}

.table-view.text-table *.scroll-bar:horizontal *.increment-button,
.table-view.text-table *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view.text-table *.scroll-bar:horizontal *.increment-arrow,
.table-view.text-table *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

/*
  CheckBox Styles
*/

.jfx-check-box {
  -fx-cursor: HAND;
}

.jfx-check-box:selected .box {
  -fx-border-color: -fx-secondary !important;
  -fx-background-color: -fx-secondary !important;
}

.jfx-check-box.setting:selected .box {
  -fx-border-color: #0F9D58 !important;
  -fx-background-color: #0F9D58 !important;
  -fx-label-padding: 0;
}

.jfx-radio-button {
  -jfx-selected-color: -fx-secondary;
  -jfx-unselected-color: #eee;
}
