.root {
  -fx-primary: #212121;
  -fx-primary-light: #484848;
  -fx-primary-dark: #000000;
  -fx-secondary: #ffb300;
  -fx-secondary-light: #ffe54c;
  -fx-secondary-dark: #c68400;
}

@import "controls/button.css";
@import "controls/code-area.css";
@import "controls/label.css";
@import "controls/menu-bar.css";
@import "controls/progress-bar.css";
@import "controls/split-pane.css";
@import "controls/tab-pane.css";
@import "controls/tab.css";
