#findReplaceAnchor, #inputDialog {
  -fx-background-color: -fx-primary;
  -fx-border-color: #1e1e1e;
  -fx-border-width: 4 0 0 0;
}

#treeVBox, #editorDialog {
  -fx-background-color: -fx-primary;
  -fx-border-width: 0;
}

#editorDialogPreview {
  -fx-border-color: #444;
}
