.scroll-pane > .viewport {
  -fx-background-color: -fx-primary-dark;
}

.scroll-pane {
  -fx-background-color: -fx-primary-dark;
}

.corner {
  -fx-background-color: -fx-primary;
}

.scroll-bar:vertical {
  -fx-pref-width: 7px;
}

.scroll-bar:horizontal {
  -fx-pref-height: 7px;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-primary-light;
  -fx-background-radius: 5em;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
  -fx-background-insets: 0, 0, 0, 0;
  -fx-padding: 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-padding: 0;
}
