.jfx-tab-pane {
  -fx-background-color: -fx-primary;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
  -jfx-rippler-fill: -fx-secondary;
}

.jfx-tab-pane .headers-region {
  -fx-background-color: -fx-primary-light;
  -fx-border-color: -fx-primary-light;
  -fx-box-border: -fx-primary-dark;
}

.jfx-tab-pane .tab-header-background {
  -fx-background-color: -fx-primary-light;
}

.jfx-tab-pane .tab-selected-line {
  -fx-background-color: -fx-secondary;
}
